<template>
  <div class="create-contact-form">
    <h2>Créer nouveau Contact</h2>
    <form @submit.prevent="submitContact" class="contact-form">
      <div class="form-group">
        <input
          type="text"
          v-model="contact.firstName"
          placeholder="First Name" />
      </div>
      <div class="form-group">
        <input type="text" v-model="contact.lastName" placeholder="Last Name" />
      </div>
      <div class="form-group">
        <input type="email" v-model="contact.email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input
          type="text"
          v-model="contact.address.street"
          placeholder="Street" />
      </div>
      <div class="form-group">
        <input type="text" v-model="contact.address.city" placeholder="City" />
      </div>
      <div class="form-group">
        <input type="text" v-model="contact.address.zip" placeholder="ZIP" />
      </div>
      <div class="form-group">
        <input
          type="text"
          v-model="contact.address.country"
          placeholder="Country" />
      </div>
      <div
        v-for="(phone, index) in contact.phones"
        :key="index"
        class="form-group phone-group">
        <input type="tel" v-model="phone.kind" placeholder="Phone Kind" />
        <input type="tel" v-model="phone.number" placeholder="Phone Number" />
      </div>
      <div class="form-group">
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "CreateContact",
  data() {
    return {
      contact: {
        firstName: "",
        lastName: "",
        email: "",
        address: {
          street: "",
          city: "",
          zip: "",
          country: "",
        },
        phones: [
          { kind: "", number: "" },
          { kind: "", number: "" },
        ],
      },
    };
  },
  methods: {
    submitContact() {
      // Construction de l'objet contact à envoyer
      const contactToSubmit = {
        firstName: this.contact.firstName,
        lastName: this.contact.lastName,
        email: this.contact.email,
        city: this.contact.address.city,
        country: this.contact.address.country,
        street: this.contact.address.street,
        zip: this.contact.address.zip,
        kind1: this.contact.phones[0] ? this.contact.phones[0].kind : "",
        kind2: this.contact.phones[1] ? this.contact.phones[1].kind : "",
        num1: this.contact.phones[0] ? this.contact.phones[0].number : "",
        num2: this.contact.phones[1] ? this.contact.phones[1].number : "",
      };

      // Envoi de l'objet contact au backend
      fetch("/CarnetContact/CreateContact", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify([contactToSubmit]),
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          console.log("Contact creation response:", data);
          // Vous pourriez par exemple rediriger l'utilisateur vers la page d'accueil ou afficher un message de succès ici.
        })
        .catch((error) => {
          console.error("Error creating contact:", error);
          // Afficher une notification d'erreur à l'utilisateur.
        });
    },
  },
};
</script>

<style scoped>
.create-contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Added for better input sizing */
}

.phone-group {
  display: flex;
  gap: 10px;
}

.phone-group input {
  flex: 1;
}

.submit-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #4cae4c;
}

@media (max-width: 768px) {
  .phone-group {
    flex-direction: column;
  }
}
</style>
