<template>
  <div class="group-page">
    <div class="create-group">
      <input v-model="newGroupName" placeholder="Nom du nouveau groupe" />
      <button @click="createGroup">Créer un groupe</button>
    </div>

    <div v-for="(group, index) in groups" :key="index" class="group">
      <h3>{{ group[0] }}</h3>
      <button @click="deleteGroup(group[0])">Supprimer le groupe</button>
      <button @click="navigateToUpdateGroup(group[0])">
        Ajouter des utilisateurs
      </button>

      <ul>
        <li v-for="user in group.slice(1)" :key="user.email">
          {{ user.firstName }} {{ user.lastName }} - {{ user.email }}
          <button @click="removeUserFromGroup(group[0], user)">
            Supprimer de ce groupe
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "GroupPage",
  data() {
    return {
      groups: [], // Ici seront stockés les groupes et leurs utilisateurs
      newGroupName: "", // Nom du nouveau groupe à créer
    };
  },
  methods: {
    getGroups() {
      // Appel à l'API pour récupérer les groupes
      fetch("/ContactGroup")
        .then((response) => response.json())
        .then((data) => {
          this.groups = data;
        })
        .catch((error) => {
          console.error("Erreur lors de la récupération des groupes:", error);
        });
    },
    createGroup() {
      // Appel à l'API pour créer un nouveau groupe
      fetch("/ContactGroup", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          action: "creer",
          groupName: this.newGroupName,
        }),
      }).then(() => {
        this.getGroups(); // Mise à jour de la liste des groupes
        this.newGroupName = ""; // Réinitialisation du nom du groupe
      });
    },
    deleteGroup(groupName) {
      // Appel à l'API pour supprimer un groupe
      fetch("/ContactGroup", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          action: "supprimer",
          groupName: groupName,
        }),
      }).then(() => {
        this.getGroups(); // Mise à jour de la liste des groupes
      });
    },
    removeUserFromGroup(groupName, user) {
      // Appel à l'API pour supprimer un utilisateur d'un groupe
      fetch("/ContactGroup", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          action: "retirer",
          groupName: groupName,
          contact: user,
        }),
      }).then(() => {
        this.getGroups(); // Mise à jour de la liste des groupes
      });
    },
    navigateToUpdateGroup(groupName) {
      // Naviguer vers la page de mise à jour du groupe avec le nom du groupe
      this.$router.push({
        name: "UpdateContactGroup",
        params: { groupName: groupName },
      });
    },
  },
  mounted() {
    this.getGroups(); // Récupérer les groupes au montage du composant
  },
};
</script>

<style>
.group-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.create-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-group input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-group button {
  padding: 10px 15px;
  background-color: #5cb85c;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-group button:hover {
  background-color: #4cae4c;
}

.group {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.group h3 {
  margin-top: 0;
}

.group button {
  margin-top: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.group button:hover {
  background-color: #2980b9;
}

.group ul {
  list-style: none;
  padding-left: 0;
}

.group ul li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group ul li:last-child {
  border-bottom: none;
}

.group ul li button {
  background-color: #e74c3c;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.group ul li button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .create-group {
    flex-direction: column;
    align-items: stretch;
  }

  .create-group input {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .group ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  .group ul li button {
    margin-top: 5px;
  }
}
</style>
