<template>
  <div class="contact-page">
    <button class="create-contact-button" @click="createContact">
      Create Contact
    </button>
    <button class="double-contact-button" @click="doubleContact">Double</button>
    <button class="group-contact-button" @click="GroupPage">Group Page</button>
    <div class="contact-table">
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Street</th>
            <th>City</th>
            <th>ZIP</th>
            <th>Country</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(contact, index) in contacts" :key="index">
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.lastName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.address.street }}</td>
            <td>{{ contact.address.city }}</td>
            <td>{{ contact.address.zip }}</td>
            <td>{{ contact.address.country }}</td>
            <td>{{ contact.phones[0].number }}</td>
            <td>{{ contact.phones[1]?.number || "" }}</td>
            <td>
              <button @click="updateContact(index)">Update</button>
              <button @click="deleteContact(index)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import contactsData from "./contacts.json";

export default {
  name: "HomePage",
  data() {
    return {
      contacts: contactsData,
    };
  },
  methods: {
    createContact() {
      this.$router.push({ name: "CreateContact" });
    },
    doubleContact() {
      fetch("/CarnetContact/DoubleContact", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify([{ action: "double" }]),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Double contact response:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
    updateContact(contactIndex) {
      const contact = this.contacts[contactIndex];
      this.$router.push({
        name: "UpdateContact",
        params: { contactId: contactIndex }, // L'identifiant du contact si nécessaire
        state: { contactData: contact }, // Les données du contact
      });
    },
    deleteContact(contactIndex) {
      // Récupérer le contact à supp via l'index
      const contact = this.contacts[contactIndex];

      // Confirmer si user veut supp
      if (
        window.confirm(
          `Are you sure you want to delete ${contact.firstName} ${contact.lastName}?`
        )
      ) {
        // Envoi requete supp au back
        fetch("/CarnetContact/DeleteContact", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify([
            {
              action: "supprimer",
              contact: {
                email: contact.email,
                lastName: contact.lastName,
                firstName: contact.firstName,
              },
            },
          ]),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Delete contact response:", data);

            // Supprimer le contact du tableau contacts dans les données locales après la confirmation du backend
            if (data.success) {
              this.contacts.splice(contactIndex, 1);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    },
    getContacts() {
      fetch("/CarnetContact/GetContacts", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((contactsData) => {
          console.log("Contacts fetched:", contactsData);
          this.contacts = contactsData; // Mettre à jour la liste des contacts avec les données récupérées
        })
        .catch((error) => {
          console.error("Error fetching contacts:", error);
        });
    },
    GroupPage() {
      this.$router.push({ name: "GroupPage" });
    },
  },
  mounted() {
    this.getContacts(); // mettre a jour le v-for
  },
};
</script>

<style scoped>
.contact-page {
  text-align: center;
}

.create-contact-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-contact-button:hover {
  background-color: #2980b9;
}
.contact-table {
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-table table {
  width: 100%;
  border-collapse: collapse;
}

.contact-table th,
.contact-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.contact-table th {
  background-color: #f4f4f4;
  text-transform: uppercase;
}

.contact-table tr:nth-child(even) {
  background-color: #fbfbfb;
}

.contact-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-table button:hover {
  background-color: #f0f0f0;
}

.contact-table button:first-child {
  background-color: #4caf50;
  color: white;
}

.contact-table button:last-child {
  background-color: #f44336;
  color: white;
}

.double-contact-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #8e44ad;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.group-contact-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #44ad44;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.double-contact-button:hover {
  background-color: #7d3c98;
}
</style>
