<template>
  <div class="update-contact-form">
    <h2>Mettre à jour le contact</h2>
    <form @submit.prevent="updateContact">
      <!-- Champs pour les informations de base -->
      <input type="text" v-model="contact.firstName" placeholder="Prénom" />
      <input type="text" v-model="contact.lastName" placeholder="Nom" />
      <input type="email" v-model="contact.email" placeholder="Email" />

      <!-- Champs pour l'adresse -->
      <input type="text" v-model="contact.address.street" placeholder="Rue" />
      <input type="text" v-model="contact.address.city" placeholder="Ville" />
      <input
        type="text"
        v-model="contact.address.zip"
        placeholder="Code Postal" />
      <input type="text" v-model="contact.address.country" placeholder="Pays" />

      <!-- Champs pour les numéros de téléphone -->
      <div v-for="(phone, index) in contact.phones" :key="index">
        <input
          type="tel"
          v-model="phone.kind"
          placeholder="Type de téléphone" />
        <input
          type="tel"
          v-model="phone.number"
          placeholder="Numéro de téléphone" />
        <button type="button" @click="removePhone(index)">
          Supprimer ce téléphone
        </button>
      </div>
      <button type="button" @click="addPhone">
        Ajouter un numéro de téléphone
      </button>

      <!-- Bouton pour soumettre le formulaire -->
      <button type="submit">Mettre à jour</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "UpdateContactForm",
  data() {
    return {
      contact: {
        firstName: "",
        lastName: "",
        email: "",
        address: {
          street: "",
          city: "",
          zip: "",
          country: "",
        },
        phones: [
          { kind: "", number: "" },
          { kind: "", number: "" },
        ],
      },
    };
  },
  mounted() {
    // Vérifiez l'état actuel de la route pour les données de contact
    if (
      this.$router.currentRoute.value &&
      this.$router.currentRoute.value.params.contactData
    ) {
      this.contact = this.$router.currentRoute.value.params.contactData;
    }
  },
  methods: {
    updateContact() {
      // Implémenter la logique de mise à jour du contact ici
    },
    addPhone() {
      this.contact.phones.push({ kind: "", number: "" });
    },
    removePhone(index) {
      this.contact.phones.splice(index, 1);
    },
  },
};
</script>

<style scoped>
.update-contact-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.update-contact-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group .remove-btn {
  background-color: #dc3545;
}

.form-group .remove-btn:hover {
  background-color: #bd2130;
}

.form-group .add-phone-btn {
  background-color: #28a745;
}

.form-group .add-phone-btn:hover {
  background-color: #218838;
}

.update-contact-form button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-contact-form button[type="submit"]:hover {
  background-color: #388e3c;
}
</style>
