<template>
  <div class="login-container">
    <h2 class="login-title">Login</h2>
    <div class="input-container" v-if="usernameError">
      <p class="error-message">Invalid username. Please try again.</p>
    </div>
    <div class="input-container">
      <input
        class="login-input"
        v-model="username"
        type="text"
        placeholder="Username"
        @input="usernameError = false" />
    </div>
    <div class="input-container" v-if="passwordError">
      <p class="error-message">Invalid password. Please try again.</p>
    </div>
    <div class="input-container">
      <input
        class="login-input"
        v-model="password"
        type="password"
        placeholder="Password"
        @input="passwordError = false" />
    </div>
    <button class="login-button" @click="loginUser">Login</button>
  </div>
</template>

<script>
export default {
  name: "UserLogin",
  data() {
    return {
      username: "",
      password: "",
      usernameError: false,
      passwordError: false,
    };
  },
  methods: {
    loginUser() {
      if (!this.username || !this.password) {
        this.usernameError = !this.username;
        this.passwordError = !this.password;
        return;
      }
      fetch("/CarnetContact/Login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: this.username,
          password: this.password,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Réponse du serveur:", data);
          if (data) {
            this.$router.push({ name: "HomePage" });
          } else {
            this.usernameError = true;
            this.passwordError = true;
          }
        })
        .catch((error) => {
          console.error("Erreur:", error);
          this.usernameError = true;
          this.passwordError = true;
        });
    },
  },
};
</script>

<style scoped>
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
  background: white;
}

.login-title {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-button:hover {
  background-color: #2980b9;
}

.error-message {
  color: red;
  font-size: 0.9em;
}
</style>
